@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

//Fonts
$font-family: 'Inter', sans-serif;

//Primary-Colors
$black: #000000;
$light-black: #343A40;
$black-text: #212529;
$gray: #CCCCCC;
$yellow: #DAFF01;
$purple: #9343FF;
$white: #FFFFFF;

//Auxiliary-Colors (banners)
$pink: #EE6471;
$orange: #F87F46;

//Screens
$small-screen: 375px;
$medium-screen: 768px;
$large-screen: 1440px;