@import '../_abstract/media-queries';

.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-height: 500px;

    .slide {

        width: 100%;
        display: none;
        color: $white;
        position: relative;
        text-align: center;

        h2 {
            font-size: 32px;
            font-weight: 500;
            height: 30px;
            margin-bottom: 16px;
            
            @include medium-screen{
                text-align: right;
            }

            @include large-screen {
                font-size: 48px;

            }
        }

        p {
            font-size: 16px;
            padding: 16px 24px;

            @include medium-screen {
                padding: 0;
            }

            @include large-screen {
                font-size: 20px;

            }
        }

        &__caption {

            &--left {
                position: absolute;
                top: 55%;

                @include medium-screen {
                    left: 45%;
                    top: 40%;

                    p {
                        text-align: right;
                    }
                }

                @include large-screen {
                    left: 55%;
                }
            }

            &--right {
                position: absolute;
                top: 55%;

                @include medium-screen {
                    right: 45%;
                    top: 40%;

                    p {
                        text-align: left;
                    }
                }

                @include large-screen {
                    right: 55%;
                }
            }
        }
    }

    #banner-img-1 {
        width: 100%;

        @include medium-screen {
            content: url("/assets/tablet/banner-carousel-1-768.png");
        }

        @include large-screen {
            content: url("/assets/desktop/banner-carousel-1-1440.png");
        }

    }

    #banner-img-2 {
        width: 100%;

        @include medium-screen {
            content: url("/assets/tablet/banner-carousel-2-768.png");
        }

        @include large-screen {
            content: url("/assets/desktop/banner-carousel-2-1440.png");
        }

    }

    #banner-img-3 {
        width: 100%;

        @include medium-screen {
            content: url("/assets/tablet/banner-carousel-3-768.png");
        }

        @include large-screen {
            content: url("/assets/desktop/banner-carousel-3-1440.png");
        }

    }

    .carousel-controls {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
            color: $white;
            font-size: 72px;

            &:hover {
                cursor: pointer;
                transform: scale(1.08);
            }
        }
    }

    .carousel-indicators {
        z-index: 1;
        position: absolute;
        bottom: 10px;
        left: calc(50% - 90px);
        display: none;

        @include medium-screen{
            display: block;
        }

        .indicator {
            display: inline-block;
            width: 60px;
            height: 6px;
            background-color: gray;
            margin: 0 5px;

            &:hover {
                cursor: pointer;
            }

            &.active {
                background-color: $white
            }
        }
    }
}