@import '../_abstract/variables';
@import '../_abstract/media-queries';

.newsletter {
    background-color: $white;
    padding: 1.5rem;

    @include medium-screen {
        max-width: 690px;
        margin: 1.5rem auto;
    }

    @include large-screen {
        margin: 3rem auto;
        max-width: 730px;
    }

    &__container {
        border: 1px solid $black;
        padding: 1.5rem;

        @include medium-screen {
            padding: 2.5rem;
        }
    }

    &__text {
        margin-bottom: 1.5rem;
        text-align: center;
        line-height: 1.5rem;

        @include medium-screen {
            font-size: 20px;
        }
    }

    &__form {
        position: relative;
        text-align: center;
        border: 1px solid $black;
        display: grid;
        grid-template-columns: 2fr 1fr;

        @include medium-screen {
            width: 80%;
            margin: 0 auto;
        }

        input {
            padding: 0 1rem;
            border: none;
            margin: 0;
            height: 2.5rem;
            left: 0px;

            &:focus-visible {
                outline: none;
            }
        }

        .send {
            width: 84px;
            position: absolute;
            right: 0px;
            height: 2.5rem;
            border: none;
            background-color: $purple;
            color: $white;
            font-weight: 500;
        }
    }

    .invalid-email {
        position: relative;
        margin-top: 8px;
        font-weight: 700;
        font-size: 13px;
        color: red;

        @include medium-screen {
            left: 60px;
        }
    }

    &__modal {

        border: none;
        padding: 0;

        @include medium-screen {
            width: 700px;
        }

        .modal {

            &__top {
                padding: 18px 16px;
                background-color: $black;
                color: $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
            }

            &__icon {
                color: $yellow;
            }

            &__text {
                padding: 16px 16px 32px 16px;
            }

            &__close {
                color: #6C757D;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}